<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%X{pekkoAddress}] [%marker] [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>


    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="slick.jdbc" level="ERROR" />
    <logger name="scalikejdbc.streams" level="ERROR" />
    <logger name="slick.basic" level="ERROR" />
    <logger name="slick.util" level="ERROR" />
    <logger name="oshi.util" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />
    <logger name="pekko.cluster.sharding.typed.internal" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
